{% load static %}
{% block content %}
<section>
<div class="river" style="color: crimson;">
<h1 style="text-align: center;">Coldwater ecosystem</h1>
</div>
<div class="river" style="color: darkblue;">
<img src="{% static 'images/coldwater1.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
<h3>Abstract</h3>
Many countries have put in place protection of cold water coral (CWC) reef areas in relation to fishing, especially bottom trawling. As little has been known about the ecosystem function of CWC, protection has largely been driven by existence values such as uniqueness/rareness, charisma and low resistance from fishermen due to limited effects upon fisheries. This paper identifies the services from CWC, underlining the supporting services that may determine the flow of the more direct provisioning, regulating and cultural services. Current research points to the value of CWC as a habitat for commercially interesting species, which motivates management of these resources to include a more comprehensive set of mechanisms, such as placing incentives to encourage a change of gear from bottom trawling to less destructive methods in less densely covered CWC areas, and possibly a stronger focus on other benthic habitats that are equally or more valuable, such as sponges.
</p>
<img src="{% static 'images/coldwater2.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
<h3>There are four main groups of cold-water corals :</h3>
1. Stony corals, i.e. reef-forming corals (scleractinians);
2. soft corals (also named octocorals due to their 8-fold symmetry);
3. black corals (anthipatharians);
4. hydrocorals (stylasterids).
Cold-water corals are different from their warm-water counterparts because they do not
contain symbiotic algae for photosynthesis and grow more slowly. Cold-water corals obtain
all their energy from organic matter and zooplankton, which they catch from the currents
drifting past . These communities can create a heterogeneous structural biogenic habitat
which can take on a diverse range of forms, of varying density and reaching heights of
several metres above the seabed . The principal ecological aspects of cold-water corals
</p>
<img src="{% static 'images/coldwater3.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
<h3>GEOGRAPHIC DISTRIBUTION</h3>
Cold-water corals can be found over a wide range of latitudes, from tropical to polar regions,
and from the shallow to the deep seas. Their distribution is largely defined by water
temperatures, which must generally be between 4° and 12°C. At high latitudes, these
conditions are generally found in relatively shallow waters (approximately 50 to 1,000m), and
at low latitudes they are present at great depths (up to 4km), beneath warm water masses .
Compensating for knowledge gaps posed by the relative inaccessibility of cold-water corals,
substantial progress in mapping cold-water coral distribution has been achieved through the
use of species distribution models .
ECOLOGY
Despite suffering from a lack of observed information on both distribution and diversity, coldwater corals are arguably one of the most three-dimensionally complex habitats in the deep
sea. Cold-water corals can occur as isolated colonies (i.e. small patches of free-living
individuals), or they can form large reefs covering up to several kilometres, or even massive
carbonate mounds up to 300m in height . Although octocorals are not reef-forming, they can
form complex single- or multi-species assemblages, particularly in combination with the other
three groups of cold-water corals.
They are certainly unique ecosystems in terms of being ‘ecosystem engineers’ that provide
habitat structure (e.g. feeding and nursery grounds) for other organisms, including specialist
fauna, in the deep ocean . Ecosystem engineers play key roles in ecosystem organisation
by providing conditions or resources essential for species to complete their life cycles or by
helping to maintain niche diversity such as by providing complex habitat structures . For
instance, up to 1,300 associated species have been found living on Lophelia pertusa reefs ,
and cold-water coral reefs may also be associated with a distinctive fauna
</p>
<img src="{% static 'images/coldwater4.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
<h3>THREATS</h3>
Cold-water corals are fragile and extremely slow-growing (with some reefs being tens of
thousands of years old), making them particularly vulnerable to disturbance and
environmental change, for instance deep-water trawling and ocean acidification . Despite
the depth at which these ecosystems are found, there is significant evidence of human
activities in the majority of surveys which have been undertaken . Bottom fisheries are one
of the greatest threats to this habitat because of heavy gear may cause hundreds of years
worth of damage when it comes into contact with the slow-growing reefs . Other threats
include oil and gas extraction, cable and pipeline placement and mineral exploration.
In addition to direct damage and clogging with silt from fisheries activities, ocean acidification
is a problem. Ocean acidification is caused by increased concentrations of carbon dioxide in
the Earth’s atmosphere . Changes in carbon dioxide concentration and that of other gasses
in the Earth’s atmosphere lead to changes in chemistry of the ocean through air-sea gas
exchange . These changes result in elevated acidity in the ocean, which is a direct threat to
corals as it can lead to corals being dissolved by the water around them . Finally, slowed
growth and increased fragility are also consequences of ocean acidification
</p>
</div>
</section>
{% endblock  %}