{% load static %}
{% block content %}
<section>
<div class="river" style="color: crimson;">
<h1 style="text-align: center;">forest ecosystem</h1>
</div>
<div class="river" style="color: darkblue;">
<img src="{% static 'images/forest1.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
A forest ecosystem is a unique ecology, including a very nice community of flora and fauna. When we heard 
“forest,” the primary thing that comes to our mind is trees. An area covered with trees making various 
canopy layers is commonly known as a forest ecosystem.

Describing forest ecosystem – A forest ecosystem is a place that provides natural habitat to millions 
of plant and animal species. The forest ecosystems have been divided into different types based on the 
climatic conditions of that particular region – for example- tropical rainforest, 
temperate, etc.
</p>
<img src="{% static 'images/forest2.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
Types of Forest Ecosystem
Forest ecosystem has been classified into three major types – tropical forest ecosystem, 
temperate forest ecosystem and boreal ecosystem.
 We will also understand savanna ecosystem. The types of forest ecosystems have been divided 
 based on latitude and different characteristics. The different types of forest ecosystems are as follows –

<h4>Tropical Forest Ecosystem</h4>
Tropical forests, also known as tropical rainforest, receives almost 100 inches of rain every 
year. The tropical forest has a wide variety of species among all other types of forest ecosystems. 
Tropical forests are usually found in latitude between 23.5 degrees North and 23.5 degrees South. 
The temperature recorded in tropical forests is between 68 degrees and 77 degrees Fahrenheit.
<h4>Dry forest</h4>
As the name suggests, dry forests experience a long-period of the dry season. 

<h4>Montane forest</h4>
Montane forests received most of the precipitation in the form of fog, hence also known as cloud forests. 

<h4>Sub-tropical forest<h4>
The sub-tropical forest is found in North & South regions of tropical forests. The flora of this region 
is adapted to survive in the adverse conditions of summer drought.
<h4>Temperate Forest Ecosystem</h4>
Temperate forests are usually found in North America, Eurasia, Japan, etc. Temperate forest receives less rainfall as compared to tropical forests approximately 30-60 inches every year. 
Unlike tropical forests, temperate forests experience all the four seasons with variation in temperature. The winters in the temperate forest quite often experience temperature below freezing point, and in summers, the temperature becomes very high with a high level of humidity.
The soil of temperate forest is rich in organic matter that allows a huge variety of vegetation to grow in the temperate forest.
The temperate forest provides natural habitat to many animals such as squirrels, deer, black bears, raccoons, coyotes, various birds like warblers, owls, woodpeckers, hawks, etc.
</p>
<img src="{% static 'images/forest3.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
<h4>Forest Producers</h4>
Let’s start your look at forest ecology where energy from the sun enters the system: 
at the producer level, made up of organisms that can manufacture their own energy from this solar input. 
Green plants conducting photosynthesis serve as the producers of a forest ecosystem, and in the tropical 
rainforest of the Amazon, 
typically arrange themselves in four layers.

The emergent layer includes huge trees towering 165 feet or more that are spaced far apart. 

Beneath these emergent trees lies the main canopy, composed of closely spaced trees generally 
65 to 165 feet tall. They provide fruits, nectar and seeds for many creatures. The understory 
supports few plants as it receives very little sunlight. Almost nothing grows on the forest floor as 
it is devoid of sunlight.
</p>
<img src="{% static 'images/forest4.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
<h4>Secondary and Tertiary Consumers</h4>
Secondary consumers feed on primary consumers (aka herbivores) to obtain the energy originally produced by green plants, while tertiary consumers feed on other secondary consumers.

These meat-eating animals are known as carnivores, and many act both as secondary and tertiary consumers depending on the creature they’re preying on. The jaguar — the biggest mammalian carnivore in the Amazon — may prey on capybaras, a primary consumer, but also readily hunts such secondary consumers as caimans, in which case — as a carnivore eating a carnivore — it plays the role of a tertiary consumer.

Some secondary and tertiary consumers mix up an animal diet with plant matter. For example, the golden lion tamarin, a small monkey, will eat both fruits as well as insects and frogs. Such consumers are known as omnivores.

Predators thrive in all the layers of the Amazon rainforest. Ocelots and jaguars hunt for mammals, reptiles and birds on the forest floor and understory. Harpy eagles and the green snakes called emerald tree boas prey on birds, lizards and mammals for food.
</p>
</div>
</section>
{% endblock  %}