{% load static %}
{% block content %}
<section>
<div class="river" style="color: crimson;">
<h1 style="text-align: center;">Grassland ecosystem</h1>
</div>
<div class="river" style="color: darkblue;">
<img src="{% static 'images/grassland1.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
Grassland Ecosystem is an area where the vegetation is dominated by grasses and other 
herbaceous (non-woody) plants. It is also called transitional landscape because grassland ecosystems are 
dominated by the grass with few or no 
trees in the area where there is not enough for a forest and too much of a forest.
</p>
<img src="{% static 'images/grassland2.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
Components of Grassland Ecosystem

The components of the Grassland Ecosystem are discussed below:

<h3>1. Abiotic Components:</h3>
These are non-living thing components consist of carbon, hydrogen, sulphur, nitrogen and phosphorous etc.

<h3>2. Biotic Components:</h3>
These are living components and its sub-components are discussed below-
</p>
<img src="{% static 'images/grassland3.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
<h3>Functions of the Grassland Ecosystem</h3>

The primary function of an ecosystem is productivity. The producers fix the solar energy and produce the complex organic matter with the help of minerals. It provides forage for livestock, protection and conservation of soil and water resources, furnishing a habitat for wildlife, both flora and fauna and (contribution to the attractiveness of the landscape. The functional aspects of the Grassland can be studied by two means:

<h4>1. Food Chain in an ecosystem:</h4> 
There is an important feature of the ecosystem that one level of an organism serves as food for another level of the organism. A series is formed which is known as Food Chain. In an ecosystem, the food chain does not follow the linear pattern, but an organism may feed upon more than one organism in the same food chain or upon organisms of different food chains. Thus interconnected food chain system is formed known as a food web.

<h4>2. Nutrient cycle in an ecosystem:</h4>
For any ecosystem to be successful, it is important that the constituent materials move in a cyclic manner. The producers (green plant) takes up the mineral elements from the soil and air, convert them into organic form and after passing through the different trophic levels, are again returned to the soil and air.
</p>
<img src="{% static 'images/grassland4.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
The graminoids are among the most versatile life forms. They became widespread toward the end of the Cretaceous period, and coprolites of fossilized dinosaur feces have been found containing phytoliths of a variety of grasses that include grasses that are related to modern rice and bamboo.[9]

The appearance of mountains in the western United States during the Miocene and Pliocene epochs, a period of some 25 million years, created a continental climate favourable to the evolution of grasslands.[10]

Around 5 million years ago during the Late Miocene in the New World and the Pliocene in the Old World, the first true grasslands occurred. Existing forest biomes declined, and grasslands became much more widespread. It is known that grasslands have existed in Europe throughout the Pleistocene (the last 1.8 million years).[8] Following the Pleistocene ice ages (with their glacials and interglacials), grasslands expanded in the hotter, drier climates, and began to become the dominant land feature worldwide.[10] Since the grasslands have existed for over 1.8 million years, there is high variability. For example steppe-tundra dominated in Northern and Central Europe whereas a higher amount of xerothermic grasslands occurred in the Mediterranean area.[8] Within temperate Europe, the range of types is quite wide and also became unique due to the exchange of species and genetic material between different biomes.

The semi-natural grasslands probably first appeared with the human starting farming. So for the use of agriculture, forests got cleared in Europe. Ancient meadows and pastures were the parts that were suitable for cultivation. The semi-natural grasslands were formed from these areas.[8] The removal of the plants by the grazing animals and later the mowing farmers led to co-existence of other plant species around. In the following, the biodiversity of the plants evolve. Also, the species that already lived there adapted to the new conditions.[8]

Most of the grassland areas have been turned to arable fields and disappeared again.

Nowadays, semi-natural grasslands are rather located in areas that are unsuitable for agricultural farming.[8]
<h3>Biodiversity</h3>
Grasslands dominated by unsown wild-plant communities ("unimproved grasslands") can be called either natural or "semi-natural" habitat. Although their plant communities are natural, their maintenance depends upon anthropogenic activities such as grazing and cutting regimes. The semi-natural grasslands contain many species of wild plants, including grasses, sedges, rushes, and herbs; 25 plant-species per 100 square centimeters can be found.[8] A European record that was found on a meadow in Estonia described 76 species of plants in one square meter.[8] Chalk downlands in England can support over 40 species per square meter.

In many parts of the world, few examples have escaped agricultural improvement (fertilizing, weed killing, plowing, or re-seeding). For example, original North American prairie grasslands or lowland wildflower meadows in the UK are now rare and their associated wild flora equally threatened. Associated with the wild-plant diversity of the "unimproved" grasslands is usually a rich invertebrate fauna; there are also many species of birds that are grassland "specialists", such as the snipe and the little bustard.[11] Due to semi-natural grasslands being referred to as one of the most-species rich ecosystems in the world and essential habitat for many specialists, also including pollinators,[7] there are many approaches to conservation activities lately.

Agriculturally improved grasslands, which dominate modern intensive agricultural landscapes, are usually poor in wild plant species due to the original diversity of plants having been destroyed by cultivation and by the use of fertilizers.

Almost 90% of the European semi-natural grasslands do not exist anymore due to political and economic reasons. This loss only took place during the 20th century.[6] The ones in Western and Central Europe have almost disappeared completely. There are a few left in Northern Europe.[6]

Unfortunately, a large amount of red-listed species are specialists of semi-natural grasslands and are affected by the landscape change due to agriculture of the last century.[12]

The original wild-plant communities having been replaced by sown monocultures of cultivated varieties of grasses and clovers, such as perennial ryegrass and white clover. In many parts of the world, "unimproved" grasslands are one of the most threatened types of habitat, and a target for acquisition by wildlife conservation groups or for special grants to landowners who are encouraged to manage them appropriately.
</p>
</div>
</section>
{% endblock  %}