
{% load static %}
{% block title %}{% endblock  %}
{% block content %}

<section>
<div class="pondecosystem" style="color: crimson;">
<h1>Pond Ecosystem- Meaning, Characteristics, Types and Importance</h1>
<h3>Meaning Of Pond Ecosystem<h3>
</div>
<div class="cnt" style="color: darkblue;">

<p>
Ponds are artificial or natural body of water. Well ecosystem is technical term for community of organisms.
Pond Ecosystem refers to fresh water ecosystem on which different organisms depend for their survival and to fulfill their nutritional needs as well. 
The ponds are the water bodies which are usually of 12-15 feet deep in which the sun rays can reach which results into growing of plants down there. 
The components of pond ecosystem include both biotic and abiotic components. Biotic components consist of producers,
consumers and decomposer whereas abiotic components include organic and inorganic materials. 
It should be noted that biotic components follow a food chain.</p>
</div>

<img src="{% static 'images/pond.jpg' %}" class="img-fluid w-100% " container-floatformat alt="Responsive image">
<div class="pondecosystem" style="color: firebrick;">
<h3>Types Of Pond Ecosystem</h3>
</div>
<div class="cnt" style="color: green;">
<p>Pond Ecosystem falls in fresh water ecosystem which is further divided into three parts which are littoral zone,
    open water zone and deep water zone. The littoral zone is a zone which is an area near the shore where sunlight follows it way down and allows the plants to grow.
    Open water zone which actually is well known as pelagic zone. It is that zone where water is not close to the bottom nor near the shore. 
    The last is the deep water zone which is the lowest level lying above the sea and below the thermocline. This three types can be understood deeply. Some differentiate Pond Ecosystem in other way. 
    It is classified in five types which are salt ponds, garden ponds, freshwater ponds, vernal ponds and underground ponds. Salt ponds are one which are near the sea side and consist brackish water.
    Garden ponds are those which are artificial in nature. Freshwater pool can form anywhere because of rains. 
    Vernal ponds are those which are created because of depression in the ground and are seasonal. Lastly underground ponds which are created near the rocks.
</p>
</div>
<img src="{% static 'images/pond2.jpg' %}" class="img-fluid w-100% " container-floatformat alt="Responsive image">
</section>
{% endblock  %}