{% extends 'base.html' %}
{% load static %}
{% block content %}

<img src="{% static 'images/desert1.jpg' %}" class="img-fluid" alt="Responsive image" width="100%" height="20px">
<h1>bbbbbbbbbbbbbbbbbbbbbbbbbb</h1>
<div class="container">
    <div class="row">
      <div class="col-8"><img src="{% static 'images/desert1.jpg' %}" class="img-fluid" alt="Responsive image"></div>
      <div class="col-4">
        Special series of translation workshops on the Nigerian languages of Yoruba, Igbo & Hausa. Three 90 Minutes Sessions Focusing on a Poem in Each Language Will Take Place. Become A Volunteer. Browse Events. View Media.
      </div>
    </div>
  </div>
{% endblock  %}