
{% load static %}
{% block content %}

<section>
<div class="protect" style="color: darkblue;">
<h1 style="text-align: center;">Protecting Our Planet Starts with You</h1>
<p>Reduce, reuse, and recycle. Cut down on what you throw away. Follow the three "R's" to conserve natural resources and landfill space.
Volunteer. Volunteer for cleanups in your community. You can get involved in protecting your watershed, too.
Educate. When you further your own education, you can help others understand the importance and value of our natural resources.
Conserve water. The less water you use, the less runoff and wastewater that eventually end up in the ocean.
Choose sustainable. Learn how to make smart seafood choices at www.fishwatch.gov.
Shop wisely. Buy less plastic and bring a reusable shopping bag.
Use long-lasting light bulbs. Energy efficient light bulbs reduce greenhouse gas emissions. Also flip the light switch off when you leave the room!
Plant a tree. Trees provide food and oxygen. They help save energy, clean the air, and help combat climate change.
Don't send chemicals into our waterways. Choose non-toxic chemicals in the home and office.
Bike more. Drive less.</p>
<img src="{% static 'images/protect1.jpg' %}" class="img-fluid" alt="Responsive image">

<h1 style="text-align: center;">Ways to Protect The Environment </h1>
<p>– Save Our Environment at Home
These top 10 ways to protect the environment at home take very little time to do. It’s just a matter of making a commitment to doing something good for the planet and sticking to that plan.

I call this “my environmental to do list.”

Earth Day happens in April and lots of people talk about how to protect our environment for that one day.

For me, thinking of ways to help our environment is not something I talk about one day of the year, but something that is on my mind most of the time.</p>
<img src="{% static 'images/protect2.jpg' %}" class="img-fluid" alt="Responsive image">

<h1>1. Protects our Ecosystem</h1>
<p>
Our environment is what houses and helps our ecosystem grow and thrive. Without protecting and taking care of our environment we’re putting so many lives at danger such as animals, plants and crops, and even our own.

All of the ecosystems that make up our environment are deeply connected. One change to an ecosystem could completely change the dynamic that has been created. There are many ways that you can help our ecosystem as well as protecting the environment.</p>
<img src="{% static 'images/protect3.jpg' %}" class="img-fluid" alt="Responsive image">

<h1>2. Protects Humanity</h1>
<p>One of the major reasons why we need to work towards protecting the environment is because it helps to protect humanity. If we didn’t have our environment, then we wouldn’t have a place to live or resources to live off of.

Right now our air, food, and even water is being polluted because of many different factors. Luckily, natural gas in the US is on the rise and a great resource to use to help fuel our homes, businesses, schools, factories, and so much more. This is a change that we should be pushing for if we want to create a better environment.</p>


<h1>3. Protect our Forests</h1>
<p>Another huge factor that is at risk if we don’t protect our environment is the forests around us that we use to survive. The forests have many natural resources that we generally use on a daily basis.

When you live a more sustainable life then you’re helping the forests that we use to live. Our forests can help give us timber, wood, rubber, and even essential oils.</p>

<h1>4. It Is Our Moral Obligation</h1>
<p>When you’re first thinking about reasons why you should protect the environment you should know that it is your moral obligation to do so. As a human who lives on earth, it is your responsibility to make sure that it is protected.</p>
<img src="{% static 'images/protect4.jpg' %}" class="img-fluid" alt="Responsive image">

<h1>5. Give Back to Your Generation and the Future</h1>


<p>When you work to protect the environment, then you’re doing something to give back to your generation. After all, your generation is the one who is currently using it and living in it.

You can also help to give back to the future generation. Give them an environment that isn’t damaged and teach them how to continue living sustainably.</P>
<img src="{% static 'images/protect5.jpg' %}" class="img-fluid" alt="Responsive image">

</div>
</section>

{% endblock  %}
