{% load static %}
{% block content %}
<section>
<div class="river" style="color: crimson;">
<h1 style="text-align: center;">Rainforest ecosystem</h1>
</div>
<div class="river" style="color: darkblue;">
<img src="{% static 'images/rainforest1.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
A rainforest is an area of tall, mostly evergreen trees and a high amount of rainfall. 
 
Rainforests are Earth’s oldest living ecosystems, with some surviving in their present form for at
least 70 million years. They are incredibly diverse and complex, home to more than half of the world’s 
plant and animal species—even though they cover just 6% of Earth’s surface. This makes rainforests astoundingly dense with flora and fauna;
a 10-square-kilometer (4-square-mile) patch can contain as many as 1,500 flowering plants, 750 species of trees,
400 species of birds and 150 species of butterflies. 
</p>
<img src="{% static 'images/rainforest2.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
Rainforests thrive on every continent except Antarctica. The largest rainforests on Earth surround the 
Amazon River in South America and the Congo River in Africa.
The tropical islands of Southeast Asia and parts of Australia support dense rainforest habitats. 
Even the cool evergreen forests of North America’s Pacific Northwest and Northern Europe are a 
type of rainforest.
 
Rainforests’ rich biodiversity is incredibly important to our well-being and the well-being of our planet. 
Rainforests help regulate our climate and provide us with everyday products. 
</p>
<img src="{% static 'images/rainforest3.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
Rainforest Structure 
 
Most rainforests are structured in four layers: emergent, canopy, understory, and forest floor. 
Each layer has unique characteristics based on differing levels of water, sunlight, and air circulation. 
While each layer is distinct, they exist in an interdependent system: processes and species in one layer 
influence those in another. 
 
Emergent Layer 
The top layer of the rainforest is the emergent layer. Here, trees as tall as 60 meters (200 feet) dominate the 
skyline. 
Foliage is often sparse on tree trunks, but spreads wide as the trees reach the sunny upper layer, 
where they photosynthesize the sun’s rays. Small, waxy leaves help trees in the emergent layer retain water 
during long droughts or dry seasons. 
Lightweight seeds are carried away from the parent plant by strong winds. 

Canopy Layer 
Beneath the emergent layer is the canopy, a deep layer of vegetation roughly 6 meters (20 feet) thick. 
The canopy’s dense network of leaves and branches forms a roof over the two remaining layers. 
 
The canopy blocks winds, rainfall, and sunlight, creating a humid, still, and dark environment below. 
Trees have adapted to this damp environment by producing glossy leaves with pointed tips that repel water. 
 
While trees in the emergent layer rely on wind to scatter their seeds, many canopy plants, lacking wind, 
encase their seeds in fruit. Sweet fruit entices animals, which eat the fruit and deposit seeds on the forest 
floor as droppings. Fig trees, common throughout most of the world’s tropical rainforests, 
may be the most familiar fruit tree in the canopy.
Understory Layer
Located several meters below the canopy, the understory is an even darker, stiller, and more humid environment. 
Plants here, such as palms and philodendrons, are much shorter and have larger leaves than plants that dominate 
the canopy. 
Understory plants’ large leaves catch the minimal sunlight reaching beyond the dense canopy. 
 
Understory plants often produce flowers that are large and easy to see, such as Heliconia, native to the 
Americas and the South Pacific. Others have a strong smell, such as orchids. These features attract pollinators 
even in the understory’s low-light conditions.
</p>
</div>
</section>
{% endblock  %}