{% load static %}
{% block content %}
<section>
<div class="river" style="color: crimson;">
<h1 style="text-align: center;">Savanna ecosystem</h1>
</div>
<div class="river" style="color: darkblue;">
<img src="{% static 'images/savanna1.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
The African savanna ecosystem is a tropical grassland with warm temperatures year-round and with its 
highest seasonal rainfall in the summer. The savanna is characterized by grasses and small or dispersed 
trees that do not form a closed canopy, allowing sunlight to reach the ground. The African savanna contains a 
diverse community of organisms 
that interact to form a complex food web.
</p>
<img src="{% static 'images/savanna2.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
A community is a group of organisms interacting in a specific region under similar environmental conditions. 
A food chain is a group of organisms linked in order of the food they eat, from producers to consumers, 
prey to predators, and scavengers to decomposers. The arrows in a food chain represent the flow of energy 
and matter between feeding (trophic) levels. Food chains show only one path of food and energy through an 
ecosystem. In most ecosystems, organisms can get food and energy from more than one source, and may have more 
than one predator.

Healthy, well-balanced ecosystems are made up of multiple, interacting food chains, called food webs. 
Carnivores (lions, hyenas, leopards) feed on herbivores (impalas, warthogs, cattle) that consume producers 
(grasses, plant matter). Scavengers (hyenas, vultures) and decomposers/detritivores (bacteria, fungi, termites) 
break down organic matter, making it available to producers and completing the food cycle (web). 
Humans are part of the savanna community and often compete with other organisms for food and space.

The following list defines and provides examples of the feeding (trophic) levels that comprise food webs:

Producer: organism on the food chain that can produce its own energy and nutrients. Examples: grasses, Jackalberry tree, Acacia tree
Primary consumer/herbivore: organism that eats mainly plants. Examples: cows, impalas, warthogs, zebras
Secondary consumer/carnivore: organism that eats meat. Examples: leopard, lion
Omnivore: organism that eats a variety of organisms, including plants, animals, and fungi. Examples: humans, aardvarks
Decomposer/detritivores: organisms that break down dead plant and animal material and waste and release it as energy and nutrients in the ecosystem. Examples: bacteria, fungi, termites
Scavenger: animal that eats dead or rotting animal flesh. Examples: vultures, hyenas
Insectivore: organism that mostly eats insects. Example: Red-billed oxpecker
</p>
<img src="{% static 'images/savanna3.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
A savanna or savannah is a mixed woodland-grassland ecosystem characterised by the trees being sufficiently widely spaced so that the canopy does not close. The open canopy allows sufficient light to reach the ground to support an unbroken herbaceous layer consisting primarily of grasses.[1][2][3]

Savannas maintain an open canopy despite a high tree density.[4] It is often believed that savannas feature 
widely spaced, scattered trees. However, in many savannas, tree densities are higher and trees are more regularly 
spaced than in forests.[5][6][7][8] The South American 
savanna types cerrado sensu stricto and cerrado dense typically have densities of trees similar to or higher 
than that found in South American tropical forests,[5][7][8] with savanna ranging from 800–3300 trees per 
hectare (trees/ha) and adjacent forests with 800–2000 trees/ha. Similarly Guinean savanna has 129 trees/ha, 
compared to 103 for riparian forest,[6] while Eastern Australian sclerophyll forests have average tree 
densities of approximately 100 per hectare, comparable to savannas in the same region.[9]

Savannas are also characterised by seasonal water availability, with the majority of rainfall confined 
to one season; they are associated with several types of biomes, and are frequently in a transitional zone 
between forest and desert or grassland. Savanna covers approximately 20% of the Earth's land area.[10]
</p>
<img src="{% static 'images/savanna4.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
</p>
Etymology
The word originally entered English in 1555[11] as the Latin Zauana,[13] equivalent in the orthography of 
the times to zavana (see history of V). Peter Martyr reported it as the local name for the plain around 
Comagre, the court of the cacique Carlos in 
present-day Panama. The accounts are inexact,[15] but this is usually placed in present-day Madugandí[16] 
or at points on the nearby Guna Yala coast opposite Ustupo[17] or on Point Mosquitos.[18] These areas are 
now either given over to modern cropland or jungle.[19]

The word most likely comes from the Spanish word sabana, which is itself a loanword from Taíno. [20]

Distribution

Tarangire National Park in Tanzania, East Africa
Many grassy landscapes and mixed communities of trees, shrubs, and grasses were described as savanna before 
the middle of the 19th century, when the concept of a tropical savanna climate became established. 
The Köppen climate classification system was strongly influenced by effects of temperature and precipitation 
upon tree growth, and his oversimplified assumptions resulted in a tropical savanna classification concept 
which resulted in it being considered as a "climatic climax" formation. The common usage meaning to describe 
vegetation now conflicts with a simplified yet widespread climatic concept meaning. The divergence has sometimes caused areas such as extensive savannas north and south of the Congo and Amazon Rivers to be excluded from mapped savanna categories.[21]

"Barrens" has been used almost interchangeably with savanna in different parts of North America. Sometimes 
midwestern savanna were described as "grassland with trees". Different authors have defined the lower limits 
of savanna tree coverage as 5–10% and upper limits range as 25–80% of an area.[22]

Two factors common to all savanna environments are rainfall variations from year to year, and dry season 
wildfires.[citation needed] In the Americas, e.g. in Belize, Central America, savanna vegetation is similar 
from Mexico to South America and to the Caribbean.[23]

Over many large tropical areas, the dominant biome (forest, savanna or grassland) can not be predicted only 
by the climate, as historical events plays also a key role, for example, fire activity.[24] In some areas, 
indeed, it is possible for there to be multiple stable biomes.[25]
</div>
</section>
{% endblock  %}