{% load static %}
{% block content %}
<section>
<div class="river" style="color: crimson;">
<h1 style="text-align: center;">ShallowWater ecosystem</h1>
</div>
<div class="river" style="color: darkblue;">
<img src="{% static 'images/shallow1.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
A presumed value of shallow-habitat enhanced pelagic productivity derives from the principle that in 
nutrient-rich aquatic systems phytoplankton growth rate is controlled by light availability, which varies 
inversely with habitat depth. We measured a set of biological indicators across the gradient of habitat depth 
within the Sacramento–San Joaquin River Delta (California) to test the hypothesis that plankton biomass, 
production, and pelagic energy flow also vary systematically with habitat depth. Results showed that 
phytoplankton biomass and production were only weakly related to phytoplankton growth rates whereas other 
processes (transport, consumption) were important controls. Distribution of the invasive clam Corbicula 
fluminea was patchy, and heavily colonized habitats all supported low phytoplankton biomass and production and 
functioned as food sinks. Surplus primary production in shallow, uncolonized habitats provided potential 
subsidies to neighboring recipient habitats. Zooplankton in deeper habitats, where grazing exceeded 
phytoplankton production, 
were likely supported by significant fluxes of phytoplankton biomass from connected donor habitats. 
Our results provide three important lessons for ecosystem science: (a) in the absence of process measurements, 
derived indices provide valuable information to improve our mechanistic understanding of ecosystem function 
and to benefit adaptive management strategies; (b) the benefits of some ecosystem functions are displaced by 
water movements, so the value of individual habitat types can only be revealed through a regional perspective 
that includes connectedness among habitats; and (c) invasive species can act as overriding controls of habitat 
function, adding to the uncertainty of management outcomes.
</p>
<img src="{% static 'images/shallow2.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
<h3>Why is it important to evaluate shallow water habitat/in-stream fish habitat?</h3>
Small stream with dense overhanging vegetation.
A small stream in New Mexico, 2014. Photo: Marsha Landis
The most diverse fish and macroinvertebrate communities are found in areas that have complex and 
varied forms of habitat. 
Human uses and impacts on streams and lakes, such as channelizing streams, hardening shorelines using 
bulkheads and artificial shorelines, removing snags and overhanging vegetation, and constructing marinas and 
piers can simplify or destroy shallow water/in-stream habitat and affect the biological integrity of waters.
</p>
<img src="{% static 'images/shallow3.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
<h3>What can shallow water habitat/in-stream fish habitat tell us about the condition of water?</h3>
Water resources with an abundance of varied types of shallow water habitat are typically able to 
more effectively support healthy and diverse aquatic life populations because they have more complex 
ecological niches. Therefore, this physical habitat indicator also provides important information on the 
biological health of lakes and streams. Scientists use a habitat complexity measure that sums the amount 
of shallow water or in-stream fish habitat features within the waterbody and its banks, and compare this to 
expected values at least-disturbed sites, 
adjusted for factors such as geography and climate. 
</p>
<img src="{% static 'images/shallow4.jpg' %}" class="img-fluid" alt="Responsive image">
<p>
<h3>Water composition</h3>
The water in this environment is mostly clear and shallow. It is said that if shallow marine environments 
can be defined by their distributional patterns of marine organisms in terms of temperature, then deductions 
can be made from that of the past patterns in terms of paleolithic zones. Today, there are 3 major defining 
criteria used in defining shallow marine environments, these are The faunal provinces, the faunal elements, 
and the degree of latitude. However, the limits of different present-day shallow marine environments in terms 
of climatic zones are seldom agreed on.[5]

Also, many shallow marine environments are often associated with carbonate factory zones. 
In these zones, processes that remove the CO₂ from water to cause the bicarbonate ions to change 
into carbonate ions are important and support lime precipitation. Increasing temperature, intense 
evaporation, and mixing water that is high in CO₃ and low in calcium cations with seawater are some examples 
of processes that change bicarbonate ions to carbonate ions. Carbon dioxide is removed from the atmosphere by 
being dissolved in water and is turned into carbonic acid. The carbonic acid then weathers rocks, creating 
bicarbonate and other ions. Then the calcium carbonate is a precipitate from calcium and the bicarbonate ions 
that formed through organisms like coral, and then the carbon is stored in layers of limestone on the seafloor. 
 terms of geologic time, the composition of limestone has changed from calcite rich limestone to aragonite rich limestone. The presence of magnesium ions at certain concentrations inhibits the ability to precipitate calcite. Aragonite, however, has the same chemical formula as calcite but it is in a different crystal system that is much less prone to the magnesium preventing the precipitation of this mineral, which would prevent it from forming carbonate rocks. At times in geologic history where the Mg and Ca ratio were different, and the seas were more abundant in calcite and this was as a result of the high rates of seafloor spreading because of tectonic plate movement and action. The more spreading, the more the Magnesium gets removed, 
so more calcite is precipitated, and calcite will be more abundant than aragonite.[1]
</p>
</div>
</section>
{% endblock  %}