{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
      <!-- Basic Page Needs
  ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Gaea - Responsive Environmental HTML5 Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- CSS
  ================================================== -->
    <link href="{% static 'css/bootstrap.css' %} " rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/prettyphoto/css/prettyPhoto.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css"><!-- MAGINIFIC LIGHTBOX -->
    <link href="{% static 'vendor/rs-plugin/css/settings.css' %}" media="screen" rel="stylesheet" type="text/css">
    <!-- REVOLUTION SLIDER -->
    <link href="{% static 'vendor/rs-plugin/css/navstylechange.css' %}" media="screen" rel="stylesheet" type="text/css">
    <!-- REVOLUTION SLIDER -->
    <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css"><!-- CUSTOM STYLESHEET FOR STYLING -->
    <!-- Color Style -->
    <link class="alt" href="{% static 'colors/color1.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'style-switcher/css/style-switcher.css' %}" rel="stylesheet" type="text/css">
    <!-- SCRIPTS
  ================================================== -->
    <script src="{% static 'js/modernizr.js' %}"></script><!-- Modernizr -->

</head>
<body>
    {% include 'navbar.html' %}

    {% block content %}
    
    {% endblock  %}

    {% include "footer.html" %}

    <script src="{% static 'js/jquery-2.0.0.min.js' %}"></script> <!-- Jquery Library Call -->
    <script src="{% static 'vendor/prettyphoto/js/prettyphoto.js' %}"></script> <!-- PrettyPhoto Plugin -->
    <script src="{% static 'js/helper-plugins.js' %}"></script> <!-- Helper Plugins -->
    <script src="{% static 'js/bootstrap.js' %}"></script> <!-- UI -->
    <script src="{% static 'js/init.js' %}"></script> <!-- All Scripts -->
    <script src="{% static 'vendor/flexslider/js/jquery.flexslider.js' %}"></script> <!-- FlexSlider -->
    <script src="{% static 'vendor/rs-plugin/js/jquery.themepunch.plugins.min.js' %}"></script>
    <script src="{% static 'vendor/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'js/revolution-slider-init.js' %}"></script> <!-- Revolutions Slider Intialization -->
    <script src="{% static 'vendor/countdown/js/jquery.countdown.min.js' %}"></script> <!-- Jquery Timer -->
    <script src="{% static 'style-switcher/js/jquery_cookie.js' %}"></script>
    <script src="{% static 'style-switcher/js/script.js' %}"></script>
</body>
</html>